<div class="ajax-container">
	<div class="row align-items-center py-4">
		<div class="col">
			<a href="#" data-ajax-portfolio-prev class="text-decoration-none d-block float-left">
				<div class="d-flex align-items-center line-height-1">
					<i class="fas fa-arrow-left text-dark text-4 mr-3"></i>
					<div class="d-none d-sm-block line-height-1">
						<span class="text-dark opacity-4 text-1 text-uppercase">función</span>
						<h4 class="font-weight-bold text-3 mb-0">Anterior</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<div class="overflow-hidden pb-2">
						<h2 class="text-dark font-weight-bold text-7 mb-0">Contabilidad General</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<a href="#" data-ajax-portfolio-next class="text-decoration-none d-block float-right">
				<div class="d-flex align-items-center text-right line-height-1">
					<div class="d-none d-sm-block line-height-1">
						<span class="text-dark opacity-4 text-1 text-uppercase">función</span>
						<h4 class="font-weight-bold text-3 mb-0">Proxíma</h4>
					</div>
					<i class="fas fa-arrow-right text-dark text-4 ml-3"></i>
				</div>
			</a>
		</div>
	</div>
	<div class="row pb-4 mb-2">
		<div class="col-sm-6">
			<div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
				<img src="template/img/funcionesModals/contabilidad.jpg" class="img-fluid border-radius-0" alt="">
			</div>
		</div>
		<div class="col-sm-6" style="padding-top: 15px;">
			<p class="text-justify text-dark">
                Conozca en todo momento de manea muy
                fácil el estado financiero de su empresa,
                sistematice y simplifique el proceso contable
                a través de nuestro sistema basado en
                computadora, registre todas las
                transacciones movimientos contables y
                obtenga los estados financieros con un solo
                click según el periodo del cual busca la
                información
            </p>
			<span class="text-justify text-dark">
                <li>Gestión de plan de cuentas</li>
                <li>Registro de diversos tipos de comprobantes/asientos</li>
                <li>Libro diario por periodo</li>
                <li>Libro mayor por periodo</li>
                <li>Estado de resultados</li>
                <li>Balance general</li>
			</span>
		</div>
	</div>
</div>